.name::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

/* .scroll::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.scroll::-webkit-scrollbar-track{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
} */