.contact{
    margin: 50px 0;
    text-align: center;
    h1{
        color:#166a45 ;
        span{
            color: #111927;
        }
    }

    .row{
        margin: 30px auto;
        max-width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        .map{
            min-width: 50%;
            height: 50vh;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
}
       

        .name{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            justify-content: center;
            border: 1px solid #b8eacb;
            border-left: none;
            min-width: 50%;
            height: 50vh;
            transition: .3s ease;
            -webkit-transition: .3s ease;
            -moz-transition: .3s ease;
            -ms-transition: .3s ease;
            -o-transition: .3s ease;
            border-radius: 10px ;
            -webkit-border-radius: 10px ;
            -moz-border-radius: 10px ;
            -ms-border-radius: 10px ;
            -o-border-radius: 10px ;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &:hover{
                background-color: #54c084;
            }
            h2{
                color: #384250;
            }
            input{
                padding: 10px;
                min-width: 80%;
                max-width: 80%;
                margin: 0 auto;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                color: #384250;
                font-size: 20px;
                border: 2px solid #54c084;
}
button{
    width: 100px;
    color: #472400;
    background-color: #dff6e7;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
        }
    }
}

@media (max-width:768px){
    .contact{
        .row{
            flex-direction: column;
            
            .name{
                border: 1px solid   #b8eacb;
                border-top: transparent;
                height: 55vh;
                
            }
        }
    }
}