.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;

    .search{
        
        position: relative;
        
        .input-container{
            position: absolute;
            margin-top: 40px;
            .input-icon {
                position: relative;
                right: 390px;
                width: 20px; 
                cursor: pointer;
                bottom:  10px;
                z-index: 999;
              }
              input {
                padding: 10px 15px;
                top: -100%;
                padding-left: 40px; 
                min-width: 400px;
                font-size: 20px;
                color: #384250;
                text-align: right;
                position: absolute; 
                box-sizing: border-box; 
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                border: 2px solid #d2d6db;
              }
        }
    }
    .profile{
        position: relative;
  
        .dropdown-content{
            min-width: 150px; 
            background-color: #d2d6db;
            position: absolute;
            top: 100%; 
            right: 0; 
            padding: 1rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
            border-radius: 8px;
            z-index: 10;
            p{
            margin: 0.5rem 0;
            color: #000;
            cursor: pointer;
            transition: .3s ease;
            -webkit-transition: .3s ease;
            -moz-transition: .3s ease;
            -ms-transition: .3s ease;
            -o-transition: .3s ease;

            &:hover{
                color: #148354;
            }
}
        }
    }

    nav{
        display: flex;
        gap: 30px;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
                        
a{
            text-decoration: none;
            color: #384250;
            font-size: 20px;
            transition: .3 ease;
            -webkit-transition: .3 ease;
            -moz-transition: .3 ease;
            -ms-transition: .3 ease;
            -o-transition: .3 ease;


            
        }
        .active{
            color: #166a45;
            font-weight: bold;
        }
        img{
            display: none;
        }
    }

    img{
        cursor: pointer;
    }

    .icon{
        display: flex;
        align-items: center;
        gap: 20px;
        img{
            width: 40px;

        }
        .menu{
            display: none;
        }
    }
}

@media (max-width: 768px) {
   .navbar{
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;


   .search{
    .input-container{
        margin-top: 50px;
        .input-icon{
            right: 210px;
            bottom: 12px;
        }
    input{
       min-width: 250px;
       font-size: 15px;
       right: -50%;

}
}
   }

    
    nav{
        flex-direction: column;
        position: fixed;
        top: 0;
        right:  -450px;
        background-color: #88D8Ad;
        height: 100vh;
        width: 40%;
        padding: 80px 25px 0 0;
        
      
   

        img{
            display: block;
            width:  20px;
            position: absolute; 
            top: 30px;         
            left: 20px;

        }
    }   


    .icon{
        display: flex;
        align-items: center;
        .menu{
            display: block;
        }
        img{
            width: 25px;
        }
    }

   }
   
}